$icon-dimension: 60px;
$stroke-width: 5px;
$color: rgba(255, 255, 255, 1);

$drawing-zone: round($icon-dimension * 2 / 3);
$margin: floor(($icon-dimension - $drawing-zone) / 2);

@mixin transition {
  transition: transform 0.4s cubic-bezier(0.70, -0.5, 0.25, 1.5),
              width 0.4s cubic-bezier(0.70, -0.5, 0.25, 1.5),
              height 0.4s cubic-bezier(0.70, -0.5, 0.25, 1.5),
              border-radius 0.4s cubic-bezier(0.70, -0.5, 0.25, 1.5),
              transform-origin 0.4s cubic-bezier(0.70, -0.5, 0.25, 1.5),
              box-shadow 0.3s ease;
}

.elasticon {
  width: $icon-dimension;
  height: $icon-dimension;
  overflow: hidden;
  color: transparent;
  position: relative;
  cursor: pointer;
  border: none;

  span {
      transform: translate3d(0 ,0, 0) rotate(0deg);
      top: ($icon-dimension - $stroke-width) / 2;
      left: $margin;

    &,
    &::before,
    &::after {
      position: absolute;
      height: $stroke-width;
      width: $stroke-width;
      box-shadow: inset $stroke-width 0 0 $color,
                  inset ($stroke-width * -1) 0 0 $color,
                  inset 0 $stroke-width 0 $color,
                  inset 0 ($stroke-width * -1) 0 $color;
      border-radius: $stroke-width / 2;
      display: block;
      opacity: 1;
      @include transition;
    }

    &::before,
    &::after {
      top: 0;
      left: 0;
      content: "";
      display: block;
    }
  }
}

.elasticon.elasticon-hamburger {
  $width: $drawing-zone;

  span {
    transform: translate3d(0, 0, 0);

    &,
    &::before,
    &::after {
      width: $width;
    }

    &::before {
      transform: translate3d(0, (($width - $stroke-width) / -2), 0);
    }

    &::after {
      transform: translate3d(0, (($width - $stroke-width) / 2), 0);
    }
  }
}

.elasticon.elasticon-plus {
  $width: $drawing-zone;

  span {
    transform: translate3d(0, 0, 0) rotate(0deg);
    box-shadow: none;

    &,
    &::before,
    &::after {
      width: $width;
    }

    &::before {
      transform: translate3d(0, 0, 0) rotate(0deg);
    }

    &::after {
      transform: translate3d(0, 0, 0) rotate(90deg);
    }
  }
}

.elasticon.elasticon-cross {
  $width: $drawing-zone * 1.414213562 - $stroke-width / 2;

  span {
    transform: translate3d((($drawing-zone - $width) / 2), 0, 0) rotate(0deg);
    box-shadow: none;

    &,
    &::before,
    &::after {
      width: $width;
    }

    &::before {
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }

    &::after {
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
  }
}

.elasticon.elasticon-play {
  $width: $drawing-zone;

  span {
    transform: translate3d(0, (($width - $stroke-width) / -4), 0) rotate(30deg);

    &,
    &::before,
    &::after {
      width: $width;
    }

    &::before {
      transform: translate3d((($drawing-zone - $stroke-width) / -4), (($drawing-zone - $stroke-width) * .433012702), 0) rotate(60deg); /* cos30° / 2 = 0,433012702 */
      opacity: 1;
    }

    &::after {
      transform: translate3d((($drawing-zone - $stroke-width) / 4), (($drawing-zone - $stroke-width) * .433012702), 0) rotate(-60deg); /* cos30° / 2 = 0,433012702 */
    }
  }
}

.elasticon.elasticon-reverse {
  $width: $drawing-zone;

  span {
    transform: translate3d(0, (($width - $stroke-width) / -4), 0) rotate(-30deg);

    &,
    &::before,
    &::after {
      width: $width;
    }

    &::before {
      transform: translate3d((($drawing-zone - $stroke-width) / -4), (($drawing-zone - $stroke-width) * .433012702), 0) rotate(60deg); /* cos30° / 2 = 0,433012702 */
      opacity: 1;
    }

    &::after {
      transform: translate3d((($drawing-zone - $stroke-width) / 4), (($drawing-zone - $stroke-width) * .433012702), 0) rotate(-60deg); /* cos30° / 2 = 0,433012702 */
    }
  }
}

.elasticon.elasticon-chevron-left {
  $width : ($drawing-zone + $stroke-width / 2) * .707106781;

  span {
    transform: translate3d(0, 0, 0) rotate(0deg);
    box-shadow: none;

    &,
    &::before,
    &::after {
      width: $width;
    }

    &::before {
      transform: translate3d((($drawing-zone - $width) / 2), (($width - $stroke-width) / -2.828427125), 0) rotate(-45deg); /* 2 * sqrt(2) = 2.828427125 */
    }

    &::after {
      transform: translate3d((($drawing-zone - $width) / 2), (($width - $stroke-width) / 2.828427125), 0) rotate(45deg);
    }
  }
}

.elasticon.elasticon-chevron-right {
  $width : ($drawing-zone + $stroke-width / 2) * .707106781;

  span {
    transform: translate3d(0, 0, 0) rotate(0deg);
    box-shadow: none;

    &,
    &::before,
    &::after {
      width: $width;
    }

    &::before {
      transform: translate3d((($drawing-zone - $width) / 2), (($width - $stroke-width) / -2.828427125), 0) rotate(45deg); /* 2 * sqrt(2) = 2.828427125 */
    }

    &::after {
      transform: translate3d((($drawing-zone - $width) / 2), (($width - $stroke-width) / 2.828427125), 0) rotate(-45deg);
    }
  }}

.elasticon.elasticon-tick {
  $width: ($drawing-zone + $stroke-width) * 0.409977611;

  span {
    transform: translate3d(($width * .353553391 - $stroke-width / 2), 0, 0) rotate(-30deg); /* sqrt(2) / 4 = 0.353553391 */
    box-shadow: none;


    &::before {
      transform: translate3d((($width - $stroke-width) / -2), 0, 0) rotate(90deg);
      width: $width;
    }

    &::after {
      transform: translate3d(0, (($width - $stroke-width) / 2), 0) rotate(0deg);
      width: $width * 2;
    }
  }
}

.elasticon.elasticon-square {
  $width: $drawing-zone;

  span {
    transform: translate3d(0, (($drawing-zone - $stroke-width) / -2), 0) rotate(0deg);
    height : $width;

    & {
      width: $width;
    }

    &::before {
      box-shadow: none;
      width: $stroke-width;
    }

    &::after {
      box-shadow: none;
      width: $stroke-width;
    }
  }
}

.elasticon.elasticon-circle {
  $width: $drawing-zone;

  span {
    transform: translate3d(0, (($drawing-zone - $stroke-width) / -2), 0) rotate(0deg);
    height : $width;
    border-radius: $width / 2;
    width: $width;

    &::before {
      box-shadow: none;
      width: $stroke-width;
    }

    &::after {
      box-shadow: none;
      width: $stroke-width;
    }
  }
}

.elasticon.elasticon-search {
  $width: $drawing-zone * .377370478;

  span {
    box-shadow: none;
    width: $stroke-width;

    &::before {
      transform: translate3d(0, (($drawing-zone - $stroke-width) / -2), 0) rotate(0deg);
      height : $width * 2 + $stroke-width / 2;
      width: $width * 2 + $stroke-width / 2;
      border-radius: 50%;
    }

    &::after {
      transform: translate3d((($drawing-zone + $width * .390524292 - $stroke-width * .292893219) / 2), (($drawing-zone / 2 + $width * .390524292 - $stroke-width * .292893219) / 2), 0) rotate(45deg);
      width: $width * 4 / 3;
    }
  }
}